{% component scripts.javascript(config, lang, current_path=null) %}
<script type="text/javascript" src="{{ get_url(path="js/main.js") | safe }}" defer></script>
{% if current_path and current_path == "/" %}
  <script type="text/javascript" src="{{ get_url(path="js/typewriter.js") | safe }}" defer></script>
  <script type="module" src="{{ get_url(path="js/avatar.js") | safe }}"></script>
{% endif %}
{% if config.build_search_index %}
  <script type="text/javascript" src="{{ get_url(path="plugins/elasticlunr.min.js") | safe }}" defer></script>
  <script type="text/javascript" src="{{ get_url(path="search_index." ~ lang ~ ".js") | safe }}" defer></script>
  <script type="text/javascript" src="{{ get_url(path="js/search.js") | safe }}" defer></script>
{% endif %}
{% endcomponent scripts.javascript %}
