{% extends "base.html" %}

{% block seo %}
  {{ super() }}

  {% if config.title %}
    {% set title = config.title %}
  {% else %}
    {% set title = "" %}
  {% endif %}
  
  {% if config.extra.title_addition and title %}
    {% set title_addition = title_separator ~ config.extra.title_addition %}
  {% elif config.extra.title_addition %}
    {% set title_addition = config.extra.title_addition %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}
  
  {% set description = config.description %}
  
  {{ macros_head::seo(title=title, title_addition=title_addition, description=description, is_home=true) }}
{% endblock seo %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <section class="section container-fluid mt-n3 pb-3">
      <div class="row justify-content-center">
        <img
          style="height:152px;width:152px"
          alt=""
          width="260"
          height="260"
          class="rounded-circle shadow-sm p-0"
          src="https://avatars.githubusercontent.com/u/16362377?v=4"
        >
        <h4 class="text-center fw-normal pt-4 mb-0">Developer working heavily in the world of <span id="whatido" class="fw-bold">Rust</span></h4>
        <p class="meta text-center mb-4" style="max-width: 480px">
          This site is a collection of blog posts of random topics and tips from my personal experience as a developer.
        </p>

        {% set section = get_section(path="blog/_index.md") %}
        {% set map = section.pages | group_by(attribute="year") %}
        {% set_global years = [] %}
        {% for year, ignored in map %}
          {% set_global years = years | concat(with=year) %}
        {% endfor %}

        {% for year in years | sort | reverse %}
        <div>
          <div class="mx-auto col-sm-12 col-md-10 col-lg-8">
            <h4>
              {{ year }}
            </h4>
            <ul class="list-unstyled">
              {% set posts = map[year] %}
              {% for post in posts %}
              <li>
                <div class="d-flex justify-content-between align-items-center">
                  <a href="{{ post.path }}">{{ post.title }}</a>
                  {# <span class="flex-grow-1 mx-4 border-bottom border-secondary" style="border-color: #6c757d20 !important"></span> #}
                  <span class="small text-secondary">{{ post.date | date(format="%b %e") }}</span>
                </div>
                <p class="small text-secondary mt-1" style="padding-right: 64px;">{{ post.extra.lead | default(value=post.description) | safe }}</p>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>
  </div>
</div>

<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      {% for val in section.extra.list | default(value=[]) %}
      <div class="col-lg-5">
        <h2 class="h4">{{ val.title }}</h2>
        <p>{{ val.content | safe }}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9"></div>
  </div>
</section>
{% endblock content %}
